body {
/*   background-image: url("https://media4.giphy.com/media/v1.Y2lkPTZjMDliOTUyaXJkczB2aGViMXdxdDFkMmVueGFjeWRzeXpsbXFjZXgyZ3V5YmZhaiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/l46Cf8O3hQqzDq1Gg/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover; */
  overflow-x:hidden;
}

div {
  background-color: rgba(0, 0, 0, 0.411);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap:16px;
  font-size: 1.5rem;
}

a, a:visited {
  color:#fff;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: #009A44;
}

form button {
  background-color: #009a4394;
}

form button:hover {
  background-color: #009a43;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form button {
  display: flex;
  max-width: 30%;
  align-self: flex-end;
}

.formrow {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.formrow label {
  text-align: left;
}

.formrow.column {
  flex-direction: column;
  align-items: stretch;
}

.formrow.column label {
  text-align: left;
}

.createform {
 transform: translateX(25%);
  margin-top: 32px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-width: 360px;
  max-width: 600px;
}

.logo {
  position: fixed;
  height: 8em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  transform: translateX(500%);
  opacity: 50%;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  opacity: 100%;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.teambadge {
  height: 2em;
  transform: translateY(50%);
  padding: 1em;
}

.favourite {
  margin:1em;
  font-size: 2rem;
  font-weight: 800;
  transform: translateY(-0%);
}

.fbadge {
  height: 2em;
  transform: translateY(40%);
  padding: 1em;
}

.fselect {
  margin: 1em;
}

.favouritedisplay {
  padding-bottom: 1em;
  transform: translateY(-50%);
}

.fselect select {
  height:4rem;
  margin-left: 1em;
  font-size: 1.5rem;
  font-weight: 400;
}

.headinger {
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.youtube-iframe iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 177.77vh; /* 16:9 ratio */
  height: 100vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* optional dark overlay */
}

.eventitem {
  padding-bottom: 4em;
}

.announce {
  transform: translateY(200%);
}

.searchbar {
  position: fixed;
  height: 2em;
  transform: translateX(400%);
}